## Exercici 1

In [34]:
any = []

T1 = ["gener", "febrer", "març"]
T2 = ["abril", "maig", "juny"]
T3 = ["juliol", "agost", "setembre"]
T4 = ["octubre", "novembre", "desembre"]

any.append(T1)
any.append(T2)
any.append(T3)
any.append(T4)

print(any)

[['gener', 'febrer', 'març'], ['abril', 'maig', 'juny'], ['juliol', 'agost', 'setembre'], ['octubre', 'novembre', 'desembre']]

## Exercici 2

- El segon mes del primer trimestre.

In [163]:
print(any[0][1])
print()
print(T1[1])

febrer

febrer

- Els mesos del primer trimestre.

In [174]:
for i in T1:
    print(i)
print()

for i in range(len(T1)):
    print(T1[i])
print()

print(any[0])

gener
febrer
març

gener
febrer
març

['gener', 'febrer', 'març']

- Setembre i octubre.

In [164]:
print(any[2][2], any[3][0])

setembre octubre

## Exercici 3

- Crea una llista amb nombres desordenats i respon a les següents preguntes:

In [221]:
from random import randint
nombres = [randint(1,10) for i in range(0,25)]
print(nombres)

[7, 3, 6, 1, 5, 6, 2, 10, 4, 9, 2, 8, 9, 1, 3, 2, 3, 6, 8, 6, 1, 4, 1, 5, 8]

- Quants números hi ha?

In [3]:
myList = [8, 4, 7, 1, 7, 6, 3, 5, 7, 10, 9, 10, 10, 7, 3, 7, 9, 5, 8, 10, 9, 2, 8, 8, 5]

print(len(myList))

25

- Quantes vegades apareix el número 3.

In [5]:
print((myList).count(3))

print()
def total_nombre (myList, nombre):
    count = 0
    for element in myList:
        if element == nombre:
            count +=1
    return count

print(total_nombre(myList, 3))

2

2

- Quantes vegades apareixen els nombres 3 i 4?

In [6]:
def total_nombre2 (myList, nombre, nombre2):
    count = 0
    for element in myList:
        if element == nombre:
            count +=1
    for element2 in myList:
        if element2 == nombre2:
            count +=1
    return count

print(total_nombre2(myList, 3, 4))
print()

print((myList).count(3) + (myList).count(4))

3

3

- Quin és el número més gran?

In [9]:
print(max(myList))

10

- Quins són els 3 números més petits?

In [10]:
import heapq
print(heapq.nsmallest(3, myList))

[1, 2, 3]

- Quin és el rang d’aquesta llista?

In [12]:
print("El rang d'aquesta llista es ", max(myList)- min(myList))

El rang d'aquesta llista es  9

## Exercici 4

In [23]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }
print(type(compra))

<class 'dict'>

- Afegeix alguna fruita més

In [49]:
compra["Platans"] = {"Qty": 4, "€": 1.97}

In [58]:
print(compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Platans': {'Qty': 4, '€': 1.97}}

- Quant han costat les peres en total?

In [51]:
pomesCompra = compra["Peres"]["€"] * compra["Peres"]["Qty"]
print(pomesCompra)

1.98

- Quantes fruites hem comprat en total?

In [52]:
totalFruites = compra.get("Pomes", {}).get("Qty") + compra.get("Peres", {}).get("Qty") + compra.get("Platans", {}).get("Qty")
print(totalFruites)

12

- Quina és la fruita més cara?

In [85]:
fruitaMesCara = None
preuMesAlt = 0

for fruita, value in compra.items():
    preu = value["€"]
    if preu > preuMesAlt:
        preuMesAlt = preu
        fruitaMesCara = fruita
print("La fruita més cara són els", fruitaMesCara, "i valen", preuMesAlt, "€ cadascú.")

La fruita més cara són els Platans i valen 1.97 € cadascú.

In [84]:
## Notas personales 

primerElement = list(compra.values())[0]
fruitaMesCara = primerElement["€"]
print(fruitaMesCara)

for fruita, preu in compra.items():
    print("{}: {}".format(fruita, preu["€"]))

0.42
Pomes: 0.42
Peres: 0.66
Platans: 1.97